EJERCICIOS DTD/EXAMEN DTD/libros.dtd

<!ELEMENT libros  (libro)*>
<!ELEMENT libro  (titulo, autor, fecha_publicacion, editorial)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor  (nombre, apellido?, nacionalidad?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT fecha_publicacion (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
